@import 'index.font.css';

* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notification-snackbar {
    pointer-events: all;
}
